@import "styles/theme/color.scss";
@import "styles/mixins/hairline.scss";

.container {
    @include hairline-bottom-relative();
    padding: 24px;
    font-size: 14px;
    color: $color-subheading;
    background-color: transparent;
}