%layout_absolute-fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

%layout_absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%layout_absolute-column-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

%layout_absolute-row-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

%layout_inline-block {
  display: inline-block;
}

%layout_flex1 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

%layout_fill {
  display: flex;
  flex: 1;
}

%layout_column {
  display: flex;
  flex-direction: column;
}

%layout_column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%layout_column-center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

%layout_row {
  display: flex;
  flex-direction: row;
}

%layout_row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%layout_row-center-vertical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

%layout_nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
