// 字体颜色
$color-surface: #efeff4;
$color-primary: #ffffff;
$color-accent: #415184;
$color-accent-dark: #3C4566;
$color-heading: #000000;
$color-subheading: #353535;
$color-hint: #b2b2b2;
$color-paragraph: #787878;
$color-divider: #C0C3D1;